In [54]:
import numpy as np
import pandas as pd

dados_dataset= pd.read_csv("loan_approval_dataset.csv")
dados_dataset.head()

dados_dataset= pd.DataFrame()

copia_dados = dados_dataset.copy()

<h3> Verificando a existência de valores nulos.</h3>

In [18]:

dados_dataset.isnull().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

<h3> Verificando a existência de valores Nan(não é número).</h3>

In [19]:
dados_dataset.isna().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

<h3> Verificando a existência de valores duplicados.</h3>

In [20]:
dados_dataset.duplicated().sum()

0