<a href="https://colab.research.google.com/github/dayviddouglas/detectacao_fraude/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

dados_dataset = pd.read_csv("loan_approval_dataset.csv")

dados_dataset.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [ ]:
dados_dataset.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [ ]:
dados_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [ ]:
dados_Atualizados = pd.DataFrame()
dados_Atualizados['id_emprestimo'] = dados_dataset['loan_id']
dados_Atualizados['nr_dependentes'] = dados_dataset[' no_of_dependents']
dados_Atualizados['educacao'] = dados_dataset[' education']
dados_Atualizados['empregado'] = dados_dataset[' self_employed']
dados_Atualizados['salario_anual'] = dados_dataset[' income_annum']
dados_Atualizados['valor_emprestimo'] = dados_dataset[' loan_amount']
dados_Atualizados['prazo_emprestimo'] = dados_dataset[' loan_term']
dados_Atualizados['pontuacao_credito'] = dados_dataset[' cibil_score']
dados_Atualizados['patrimonio_residencial'] = dados_dataset[' residential_assets_value']
dados_Atualizados['patrimonio_comercial'] = dados_dataset[' commercial_assets_value']
dados_Atualizados['patrimonio_luxo'] = dados_dataset[' luxury_assets_value']
dados_Atualizados['patrimonios_bancarios'] = dados_dataset[' bank_asset_value']
dados_Atualizados['status_emprestimo'] = dados_dataset[' loan_status']

In [ ]:
dados_Atualizados.head()

,id_emprestimo,nr_dependentes,educacao,empregado,salario_anual,valor_emprestimo,prazo_emprestimo,pontuacao_credito,patrimonio_residencial,patrimonio_comercial,patrimonio_luxo,patrimonios_bancarios,status_emprestimo
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

<h3> Verificando a existência de valores nulos.</h3>

In [ ]:

dados_Atualizados.isnull().sum()

id_emprestimo             0
nr_dependentes            0
educacao                  0
empregado                 0
salario_anual             0
valor_emprestimo          0
prazo_emprestimo          0
pontuacao_credito         0
patrimonio_residencial    0
patrimonio_comercial      0
patrimonio_luxo           0
patrimonios_bancarios     0
status_emprestimo         0
dtype: int64

<h3> Verificando a existência de valores Nan(não é número).</h3>

In [ ]:
dados_Atualizados.isna().sum()

id_emprestimo             0
nr_dependentes            0
educacao                  0
empregado                 0
salario_anual             0
valor_emprestimo          0
prazo_emprestimo          0
pontuacao_credito         0
patrimonio_residencial    0
patrimonio_comercial      0
patrimonio_luxo           0
patrimonios_bancarios     0
status_emprestimo         0
dtype: int64

<h3> Verificando a existência de valores duplicados.</h3>

In [ ]:
dados_Atualizados.duplicated().sum()

0

In [ ]:
dados_Atualizados.loc[dados_Atualizados['educacao'] == ' Graduate', 'educacao'] = 1
dados_Atualizados.loc[dados_Atualizados['educacao'] == ' Not Graduate', 'educacao'] = 0

In [ ]:
dados_Atualizados.loc[dados_Atualizados['empregado'] == ' No', 'empregado'] = 0
dados_Atualizados.loc[dados_Atualizados['empregado'] == ' Yes', 'empregado'] = 1

In [ ]:
dados_Atualizados.loc[dados_Atualizados['status_emprestimo'] == ' Approved', 'status_emprestimo'] = 1
dados_Atualizados.loc[dados_Atualizados['status_emprestimo'] == ' Rejected', 'status_emprestimo'] = 0

In [ ]:
dados_Atualizados['empregado'] = dados_Atualizados['empregado'].astype('int64')
dados_Atualizados['educacao'] = dados_Atualizados['educacao'].astype('int64')
dados_Atualizados['status_emprestimo'] = dados_Atualizados['status_emprestimo'].astype('int64')

In [ ]:
dados_Atualizados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_emprestimo           4269 non-null   int64
 1   nr_dependentes          4269 non-null   int64
 2   educacao                4269 non-null   int64
 3   empregado               4269 non-null   int64
 4   salario_anual           4269 non-null   int64
 5   valor_emprestimo        4269 non-null   int64
 6   prazo_emprestimo        4269 non-null   int64
 7   pontuacao_credito       4269 non-null   int64
 8   patrimonio_residencial  4269 non-null   int64
 9   patrimonio_comercial    4269 non-null   int64
 10  patrimonio_luxo         4269 non-null   int64
 11  patrimonios_bancarios   4269 non-null   int64
 12  status_emprestimo       4269 non-null   int64
dtypes: int64(13)
memory usage: 433.7 KB

In [ ]:
dados_Atualizados['status_emprestimo'].value_counts()

status_emprestimo
1    2656
0    1613
Name: count, dtype: int64

In [ ]:
dados_Atualizados['empregado'].value_counts()

empregado
1    2150
0    2119
Name: count, dtype: int64

In [ ]:
dados_Atualizados['educacao'].value_counts()

educacao
1    2144
0    2125
Name: count, dtype: int64